.buttonShowAll, .buttonShowActive, .buttonShowChecked {
    margin: 5px;
}

.buttonShowAll:hover {
    background: lightgreen;
}

.buttonShowAll:focus {
    background: lightgreen;
}

.buttonShowActive:hover {
    background: lightgreen;
}

.buttonShowActive:focus {
    background: lightgreen;
}

.buttonShowChecked:hover {
    background: lightgreen;
}

.buttonShowChecked:focus {
    background: lightgreen;
}

.title {
    font-family: 'Neucha', cursive;
    color: darkblue;
}

.error {
    border: 2px red solid;
}

.errorMessage {
    color: red;
}

.isDone {
    opacity: 0.5;
}

.tasks {
    font-family: 'Neucha', cursive;
}