.title {
    font-family: 'Neucha', cursive;
    color: blue;
}

.addTask {
    margin: 5px;
}

.addTask:hover {
    background-color: lightgreen;
}

.error {
    border: 2px solid red;
}

.errorMessage {
    color: red;
    font-weight: bold;
}

.buttonsFilter button {
    margin: 5px;
}

.activeButton {

    background-color: lightgreen;
}


.tasks {
    font-family: 'Neucha', cursive;
    padding: 5px;
    margin-right: 15px
}

.removeTask {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.removeTask:hover {
    background-color: red;
}

.isDone {
    opacity: 0.4;
}