.buttonRemove {
    width: 15px;
    height: 15px;
    margin: 10px;
    border-radius: 50%;
    padding-left: 5px;
    font-size: 15px;
    background-color: firebrick;
}

.buttonSortAll, .buttonSortActive, .buttonSortCompleted {
    margin: 5px;
}

.buttonSortAll:hover {
    background-color: lightgreen;
}

.buttonSortAll:focus {
    background-color: lightgreen;
}

.buttonSortActive:hover {
    background-color: lightgreen;
}

.buttonSortActive:focus {
    background-color: lightgreen;
}

.buttonSortCompleted:hover {
    background-color: lightgreen;
}

.buttonSortCompleted:focus {
    background-color: lightgreen;
}


.titleTasks {
    font-family: 'Neucha', cursive;
}

.title {
    font-family: 'Neucha', cursive;
    color: red;
}

.addTask {
    margin: 5px;
    font-size: 15px;
    background-color: skyblue;
}

.error {
    border: 2px solid red;
}

.errorMessage {
    color: red
}

.isDone {
    opacity: 0.3;
}