.buttonRemove {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 15px;
}

.buttonRemove:hover {
    background-color: red;
}

.buttonSortAll, .buttonSortActive, .buttonSortCompleted {
    margin: 5px;
}

.buttonSortAll:focus {
    background-color: lightgreen;
}

.buttonSortActive:focus {
    background-color: lightgreen;
}

.buttonSortCompleted:focus {
    background-color: lightgreen;
}

.titleTasks {
    font-family: 'Neucha', cursive;
}

.title {
    font-family: 'Neucha', cursive;
    color: red;
}

.addTask {
    margin: 5px;
}

.addTask:hover {
    background-color: lightgreen;
}

.error {
    border: 2px solid red;
}

.errorMessage {
    color: red;
    font-weight: bold;
}

.isDone {
    opacity: 0.3;
}