.buttonRemove {
    margin: 5px;
    border-radius: 50%;

}

.buttonRemove:hover {
    background-color: red;
}

.buttonsFilter button {
    margin: 5px;
}

.active {
    background-color: lightgreen;

}


.titleTasks {
    font-family: 'Neucha', cursive;
    font-size: 17px;
    margin: 10px;
}

.title {
    font-family: 'Neucha', cursive;
    color: red;

}

.addTask {
    margin: 5px;
}

.addTask:hover {
    background-color: lightgreen;
}

.error {
    border: 2px solid red;
}

.errorMessage {
    color: red;
    font-weight: bold;
}

.isDone {
    opacity: 0.3;
}

.butRemTL {
    margin: 10px;
    border-radius: 20%;
}

.butRemTL:hover {
    background-color: red;
}