.App {
    padding: 30px;
    display: flex;
}

.App > div {
    margin-right: 50px;
}

.buttonRemove {
    width: 15px;
    height: 15px;
    margin: 10px;
    border-radius: 50%;
    padding-left: 5px;
    font-size: 15px;
    background-color: lightblue;
}

.buttonSortAll, .buttonSortActive, .buttonSortCompleted {
    margin: 5px;
}

.buttonSortAll {
    background-color: lightgreen;
}

.buttonSortActive {
    background-color: deepskyblue;
}

.buttonSortCompleted {
    background-color: yellow;
}

.titleTasks {
    font-family: 'Neucha', cursive;
}

.title {
    font-family: 'Neucha', cursive;
    text-align: center;
    color: red;
}

.addTask {
    margin: 5px;
    font-size: 13px;
    background-color: lightgreen;
}